{% extends 'attendance/base_add.html' %}

    {% block title %}
    HEI-ASYST
    {% endblock %}

    {% block content %}

    <!-- <h5 class="card-title text-primary"><b>TAMBAH DATA</b></h5> -->
    <form method="POST" style="position: relative; height: 450px; overflow: auto; margin-top: 30px;" action='/add-attend/'>
      {% csrf_token %}

      <div style="height: 370px; overflow: auto;">
      
        <p> Isi Self Assesment dulu yuk <a href="https://selfass.bca.co.id/" role="button" target="_blank"><b>disini</b></a></p>
        
        <div class="form-group">
          <label for="selfass">Apakah status selfass mu hari ini?</label>
          <select style="border-radius: 25px;" class="form-control" id="selfass" name="selfass" required>
              <option selected>-</option>
              <option value="Resiko Kecil">Resiko Kecil</option>
              <option value="Resiko Sedang">Resiko Sedang</option>
              <option value="Resiko Besar">Resiko Besar</option>
          </select>
        </div>
        
        <div class="form-group" onchange="handleSelect(); button()">
          <label for="name">Apakah kamu hari ini hadir?</label>
          <select style="border-radius: 25px;" class="form-control" id="attend" name="attend" required>
              <option selected>-</option>
              <option value="Hadir">Hadir</option>
              <option value="Tidak Hadir">Tidak Hadir</option>
          </select>
        </div>

        <div class="form-group" id="reasonAttend" onchange="handleSelect()" style="display: none;">
          <label for="name">Mengapa kamu tidak hadir?</label>
          <select style="border-radius: 25px;" class="form-control" id="reasonAttends" name="reasonAttends" required>
              <option selected>-</option>
              <option>Cuti</option>
              <option>Training</option>
              <option value="Lainnya">Lainnya</option>
          </select>
        </div>

        <div class="form-group" id="otherAttend" onchange="handleSelect()" style="display: none;">
          <label for="initial">Alasan tidak hadir</label>
          <input type="form" style="border-radius: 25px;" class="form-control" id="otherAttends" value="-"  name="otherAttend" placeholder="Alasan tidak hadir" required>
        </div>
        
        <div class="form-group" onchange="handleSelectSick()">
          <label for="name">Kondisimu saat ini apa?</label>
          <select style="border-radius: 25px;" class="form-control" id="condition" name="condition" required>
              <option selected>-</option>
              <option value="Sehat">Sehat</option>
              <option value="Sakit">Sakit</option>
          </select>
        </div>
        
        <div class="form-group" id="sickChoice" onchange="handleSelectSick()" style="display: none;">
          <label for="name">Kamu sakit apa?</label>
          <select style="border-radius: 25px;" class="form-control" id="sickChoices" name="sickChoices" required>
              <option selected>-</option>
              <option>Batuk</option>
              <option>Pilek</option>
              <option value="Lainnya">Lainnya</option>
          </select>
        </div>
        
        <div class="form-group" id="otherSick" onchange="handleSelectSick()" style="display: none;">
          <label for="initial">Alasan sakit lainnya</label>
          <input type="form" style="border-radius: 25px;" class="form-control" id="otherSicks" value="-" name="otherSicks" placeholder="Alasan sakit lainnya" required>
        </div>
        

        <div class="form-group" id="work_statuss" onchange="handleSelectWFO()" style="display: none;">
          <label for="name">Kamu WFH / WFO?</label>
          <select style="border-radius: 25px;" class="form-control" id="work_status" name="work_status" required>
              <option selected>-</option> 
              <option value="WFH">WFH</option>
              <option value="WFO">WFO</option>
          </select>
        </div>

        <div class="form-group" id="wfoStatus" onchange="handleSelectWFO()" style="display: none;">
          <label for="initial">Jadwal WFO jam berapa?</label>
          <select style="border-radius: 25px;" class="form-control" id="work_description" name="work_description" required>
              <option selected>-</option> 
              <option>07.30 - 16.30</option>
              <option>08.30 - 17.30</option>
              <option>09.30 - 18.30</option>
          </select>
        </div>
      </div>
      <button id="addButton" type="submit" class="btn btn-outline-primary btn-block" disabled>Tambah Data</button>

    </form>

    {% endblock %}
