{% extends 'attendance/base_add.html' %}

    {% block title %}
    HEI-ASYST
    {% endblock %}

    {% block content %}
    <form action="/add-edit-attend/" method="POST">
      {% csrf_token %}
        <div style="height: 370px; overflow: auto;">
          <p> Isi Self Assesment dulu yuk <a href="https://selfass.bca.co.id/" role="button" target="_blank"><b>disini</b></a></p>
          <div class="form-group" onchange="handleSelect()">
            <label for="name">Apakah kamu hari ini hadir?</label>
            <select class="form-control" id="attend" name="attend" required>
                <option name="attend">{{ data.attend }}</option>
                <optgroup label="Pilihan">
                <option value="Hadir">Hadir</option>
                <option value="Tidak Hadir">Tidak Hadir</option>
            </select>
          </div>

          <div class="form-group" id="reasonAttend" onchange="handleSelect()">
            <label for="name">Mengapa kamu tidak hadir?</label>
            <select class="form-control" id="reasonAttends" name="reasonAttends" required>
                <option name="attend">{{ data.reasonAttends }}</option>
                <optgroup label="Pilihan">
                <option>Cuti</option>
                <option>Training</option>
            </select>
          </div>

          <div class="form-group" id="otherAttend" style="display: none;" onchange="handleSelect()">
            <label for="initial">Alasan tidak hadir</label>
            <input type="form" class="form-control" id="otherAttend" value="{{ data.otherAttend }}"  name="otherAttend" placeholder="Alasan tidak hadir" required>
          </div>
          
          <div class="form-group" onchange="handleSelectSick()">
            <label for="name">Kondisimu saat ini apa?</label>
            <select class="form-control" id="condition" name="condition" required>
                <option name="attend">{{ data.condition }}</option>
                <optgroup label="Pilihan">
                <option value="Sehat">Sehat</option>
                <option value="Sakit">Sakit</option>
            </select>
          </div>
          
          <div class="form-group" id="sickChoice" style="display: none;" onchange="handleSelectSick()">
            <label for="name">Kamu sakit apa?</label>
            <select class="form-control" id="sickChoices" name="sickChoices" required>
                <option name="attend">{{ data.sickChoices }}</option>
                <optgroup label="Pilihan">
                <option>Batuk</option>
                <option>Pilek</option>
            </select>
          </div>
          
          <div class="form-group" id="otherSick" style="display: none;" onchange="handleSelectSick()">
            <label for="initial">Alasan sakit lainnya</label>
            <input type="form" class="form-control" id="sick" value="{{ data.otherSicks }}" name="otherSicks" placeholder="Alasan sakit lainnya" required>
          </div>
          

          <div class="form-group" id="work_statuss" onchange="handleSelectWFO()">
            <label for="name">Kamu WFH / WFO?</label>
            <select class="form-control" id="work_status" name="work_status" required>
                <option name="attend">{{ data.work_status }}</option>
                <optgroup label="Pilihan">
                <option value="WFH">WFH</option>
                <option value="WFO">WFO</option>
            </select>
          </div>

          <div class="form-group" id="wfoStatus" style="display: none;" onchange="handleSelectWFO()">
            <label for="initial">Jadwal WFO jam berapa?</label>
            <select class="form-control" id="work_description" name="work_description" required>
                <option name="attend">{{ data.work_description }}</option>
                <optgroup label="Pilihan">
                <option>07.30 - 16.30</option>
                <option>08.30 - 17.30</option>
                <option>09.30 - 18.30</option>
            </select>
          </div>
        </div>
      <button id="addButton" type="submit" class="btn btn-outline-primary btn-block">Tambah Data</button>
    </form>
    
    <div id="backdrop"></div>
    {% endblock %}
