{% extends 'attendance/base.html' %}

{% block title %}
Kehadiran
{% endblock %}

{% block content %}

<h5 class="card-title text-primary">LAINNYA</h5>
<hr>
<a style="border-radius: 30px;" href="#" class="btn btn-outline-primary btn-block disabled btn-lg">Ubah Profil</a>
{% if user_status.is_manager == True %}
    <a href="/manager?date=now" style="border-radius: 30px; display: block;" class="btn btn-outline-primary btn-block btn-lg" type="button">Data Anggota</a>
{% endif %}

{% if full_name == 'Made Rezananda Putra' %}
    <a href="/admin-page" style="border-radius: 30px;" class="btn btn-outline-primary btn-block btn-lg" type="button">Data Akun</a>
{% endif %}

{% endblock %}


