{% extends 'attendance/base_add.html' %}

{% block title %}
Kehadiran
{% endblock %}

{% block content %}

<table class="table">
    <tbody>
      <tr>
        <td>Tanggal Isi</td>
        <td>{{ attendance.created_at | date:'Y-m-d' }}</td>
      </tr>
      <tr>
        <td>Status Kehadiran</td>
        <td>{{ attendance.work_status }}</td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-outline-primary btn-block" href="/my-attend-list-edit/{{ attendance.id }}" role="button">Ubah</a>
  
{% endblock %}


