{% extends 'attendance/base_add.html' %}

{% block title %}
HEI-ASYST
{% endblock %}

{% block content %}
<form action="/my-attend-list-edit/{{ data.id }}/" method="POST">
  {% csrf_token %}
  <div style="height: 400px; overflow: auto;">
  
    <div class="form-group">
      <label for="selfassstatus">Self Assesment Kamu</label>
      <select style="border-radius: 25px;" class="form-control" id="selfassstatus" name="selfassstatus" required>
          <option name="attend">{{ data.selfassstatus }}</option>
          <optgroup label="Pilihan">
          <option>Resiko Kecil</option>
          <option>Resiko Sedang</option>
          <option>Resiko Besar</option>
      </select>
    </div>

    <div class="form-group">
      <label for="attendance">Apakah kamu hari ini hadir?</label>
      <select style="border-radius: 25px;" class="form-control" id="attendance" name="attendance" required>
          <option name="attend">{{ data.attendance }}</option>
          <optgroup label="Pilihan">
          <option value="Hadir">Hadir</option>
          <option value="Tidak Hadir">Tidak Hadir</option>
      </select>
    </div>

    <div class="form-group" id="reasonAttend">
      <label for="reasonNotPresent">Mengapa kamu tidak hadir?</label>
      <select style="border-radius: 25px;" class="form-control" id="reasonNotPresent" name="reasonNotPresent" required>
          <option name="attend">{{ data.reasonNotPresent }}</option>
          <optgroup label="Pilihan">
          <option>Cuti</option>
          <option>Training</option>
      </select>
    </div>

    <div class="form-group" id="otherAttend">
      <label for="initial">Alasan tidak hadir</label>
      <input style="border-radius: 25px;" type="form" class="form-control" id="otherNotPresent" value="{{ data.otherNotPresent }}"  name="otherNotPresent" placeholder="Alasan tidak hadir" required>
    </div>
    
    <div class="form-group">
      <label for="name">Kondisimu saat ini apa?</label>
      <select style="border-radius: 25px;" class="form-control" id="condition" name="condition" required>
          <option name="attend">{{ data.condition }}</option>
          <optgroup label="Pilihan">
          <option value="Sehat">Sehat</option>
          <option value="Sakit">Sakit</option>
      </select>
    </div>
    
    <div class="form-group" id="sickChoice">
      <label for="name">Kamu sakit apa?</label>
      <select style="border-radius: 25px;" class="form-control" id="sickChoices" name="sickChoices" required>
          <option name="attend">{{ data.sickChoices }}</option>
          <optgroup label="Pilihan">
          <option>Batuk</option>
          <option>Pilek</option>
      </select>
    </div>
    
    <div class="form-group" id="otherSick">
      <label for="initial">Alasan sakit lainnya</label>
      <input style="border-radius: 25px;" type="form" class="form-control" id="sick" value="{{ data.otherSicks }}" name="otherSicks" placeholder="Alasan sakit lainnya" required>
    </div>
    

    <div class="form-group" id="work_statuss">
      <label for="name">Kamu WFH / WFO?</label>
      <select style="border-radius: 25px;" class="form-control" id="work_status" name="work_status" required>
          <option name="attend">{{ data.work_status }}</option>
          <optgroup label="Pilihan">
          <option value="WFH">WFH</option>
          <option value="WFO">WFO</option>
      </select>
    </div>

    <div class="form-group" id="wfoStatus">
      <label for="wfo_description">Jadwal WFO jam berapa?</label>
      <select style="border-radius: 25px;" class="form-control" id="wfo_description" name="wfo_description" required>
          <option name="attend">{{ data.wfo_description }}</option>
          <optgroup label="Pilihan">
          <option>07.30 - 16.30</option>
          <option>08.30 - 17.30</option>
          <option>09.30 - 18.30</option>
      </select>
    </div>
</div>
<button id="addButton" type="submit" class="btn btn-primary btn-block btn-lg">Simpan</button>
</form>

{% endblock %}
