{% extends 'attendance/base_add.html' %}

{% block title %}
Kehadiran
{% endblock %}

{% block content %}

<div class="form-group">
  <input type="text" class="form-control" placeholder="Cari data..." id="search-data" name="search-data" >
</div>

<table class="table table-striped">
  <tbody id="all-tables">
  {% for data in attendance %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ data.created_at | date:'Y-m-d' }}</td>
      <td>{{ data.attendance_status }}</td>
      <td><h5><a onclick="getStuff({{ data.id }}); slideShow()" style="border-radius: 20px;" class="badge badge-primary text-white">Detail</a></h5></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div id="slideup" class="panel">
  <div class="modal-header">
    <h5 class="modal-title">DETAIL</h5>
    <button onclick="slideHide()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form id="form-edit" method="POST">
      {% csrf_token %}
        <div class="form-group">
          <label for="attendance_status">Status Kehadiran</label>
          <select class="form-control" onclick="handleSelect()" id="attendance_status" name="attendance_status" required disabled>
            <option>-</option>
            <option value="WFO">WFO</option>
            <option value="WFH">WFH</option>
            <option value="Izin">Izin</option>
            <option value="Sakit">Sakit</option>
            <option value="Cuti">Cuti</option>
          </select>
        </div>
    
        <div class="form-group" id="selfassstatuss">
          <label for="selfassstatus">Hasil Selfass</label>
          <select class="form-control" id="selfassstatus" name="selfassstatus" required disabled>
            <option>-</option>
            <option>Resiko Kecil</option>
            <option>Resiko Sedang</option>
            <option>Resiko Besar</option>
          </select>
        </div>
    
        <div class="form-group" id="working_locations">
          <label for="working_location">Lokasi WFO</label>
          <select class="form-control" id="working_location" name="working_location" required disabled>
            <option>-</option>
            <option>Wisma Asia</option>
            <option>Menara BCA</option>
            <option>Gading Serpong</option>
            <option>BLI</option>
          </select>
        </div>
        
        <div class="form-group" id="wfo_times">
          <label for="wfo_time">Waktu WFO</label>
          <select class="form-control" id="wfo_time" name="wfo_time" required disabled>
            <option>-</option>
            <option>07.30 - 16.30</option>
            <option>08.30 - 17.30</option>
            <option>09.30 - 18.30</option>
          </select>
        </div>
        
        <div class="form-group" id="conditions">
          <label for="name">Kesehatan</label>
          <select class="form-control" id="condition" name="condition" required disabled>
            <option>-</option>
            <option value="Sehat">Sehat</option>
            <option value="Sakit">Sakit</option>
          </select>
        </div>
    
        <div class="form-group" id="sick_reasons">
          <label for="sick_reason">Alasan Sakit/Izin</label>
          <input type="form" class="form-control" id="sick_reason" name="sick_reason" required disabled>
        </div>

        <div class="container">
          <div class="row justify-content-around" id="flex-gap">
            <div class="col-6">
              <button type="button" style="width: 145px; border-radius: 25px;" class="btn btn-outline-primary" onclick="undesable('undisabled')" data-target="#exampleModal">Ubah Data</button>
            </div>
            <div class="col-6">
              <button id="tutup" type="button" style="width: 145px; border-radius: 25px;" class="btn btn-primary" data-toggle="modal" onclick="slideHide()" data-target="#exampleModal">Tutup</button>
              <button id="simpan" type="submit" style="width: 145px; display: none; border-radius: 25px;" class="btn btn-primary">Simpan</button>
            </div>
          </div>
        </div>
      <div style="height: 20px;"></div>
    </form>
  </div>
</div>
<div id="backdrop" onclick="slideHide()"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function slideShow(){
    jQuery('#slideup').slideDown(600);
    document.getElementById("backdrop").style.width = "100%";
    document.getElementById("backdrop").style.opacity = "0.5";    
  }

  function slideHide(){
    jQuery('#slideup').slideUp(600);
    document.getElementById("backdrop").style.width = "0";
    document.getElementById("backdrop").style.opacity = "0";
    $("#form-edit").removeAttr("action");
  } 

  $(document).ready(function(){
    $("#search-data").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#all-tables tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  function getStuff(elem) {
    const id = elem;
    $('#form-edit').attr('action', '/my-attend-list-edit/'+id+'/');
    
    $.ajax({
      url:window.location.pathname + id,
      type:'GET',
      contentType:'application/json; charset=utf-8',
      dataType:'json',
      success:function (result) {
        $('#attendance_status').val(result.attendance.attendance_status);
        $('#selfassstatus').val(result.attendance.selfassstatus);
        $('#working_location').val(result.attendance.working_location);
        $('#wfo_time').val(result.attendance.wfo_time);
        $('#condition').val(result.attendance.condition);
        $('#sick_reason').val(result.attendance.sick_reason);
      },
      error: function (response) {
        console.log(response)
      }
    });
  }

  function undesable(param) {
    if (param == "disabled") {
      $('#attendance_status').prop("disabled", true);
      $('#selfassstatus').prop("disabled", true);
      $('#working_location').prop("disabled", true);
      $('#wfo_time').prop("disabled", true);
      $('#condition').prop("disabled", true);
      $('#sick_reason').prop("disabled", true);
    } else if (param == "undisabled") {
      $("#tutup").css("display", "none");
      $("#simpan").css("display", "block");
      $('#attendance_status').prop("disabled", false);
      $('#selfassstatus').prop("disabled", false);
      $('#working_location').prop("disabled", false);
      $('#wfo_time').prop("disabled", false);
      $('#condition').prop("disabled", false);
      $('#sick_reason').prop("disabled", false);
    }
  }

  function handleSelect() {
    if (document.getElementById("attendance_status").value == "WFO") {
        document.getElementById("selfassstatuss").style.display = 'block';
        document.getElementById("working_locations").style.display = 'block';
        document.getElementById('wfo_times').style.display = 'block';
        document.getElementById('conditions').style.display = 'block';
        if (document.getElementById("condition").value == "Sakit"){
          document.getElementById('sick_reasons').style.display = 'block';
        } else if (document.getElementById("condition").value == "Sehat"){
          document.getElementById('sick_reasons').style.display = 'none';
          document.getElementById('sick_reason').value = '-';
        }
    } else if(document.getElementById("attendance_status").value == "WFH") {
        document.getElementById("selfassstatuss").style.display = 'none';
        document.getElementById("selfassstatus").value = '-';
        document.getElementById("working_locations").style.display = 'none';
        document.getElementById("working_location").value = '-';
        document.getElementById("wfo_times").style.display = 'none';
        document.getElementById("wfo_time").value = '-';
        document.getElementById('conditions').style.display = 'block';
        if (document.getElementById("condition").value == "Sakit"){
          document.getElementById('sick_reasons').style.display = 'block';
        } else if (document.getElementById("condition").value == "Sehat"){
          document.getElementById('sick_reasons').style.display = 'none';
          document.getElementById('sick_reason').value = '-';
        }
    } else if(document.getElementById("attendance_status").value == "Izin") {
        document.getElementById("selfassstatuss").style.display = 'none';
        document.getElementById("selfassstatus").value = '-';
        document.getElementById("working_locations").style.display = 'none';
        document.getElementById("working_location").value = '-';
        document.getElementById("wfo_times").style.display = 'none';
        document.getElementById("wfo_time").value = '-';
        document.getElementById('conditions').style.display = 'block';
        if (document.getElementById("condition").value == "Sakit"){
          document.getElementById('sick_reasons').style.display = 'block';
        } else if (document.getElementById("condition").value == "Sehat"){
          document.getElementById('sick_reasons').style.display = 'none';
          document.getElementById('sick_reason').value = '-';
        }
    } else if(document.getElementById("attendance_status").value == "Sakit") {
        document.getElementById("selfassstatuss").style.display = 'none';
        document.getElementById("selfassstatus").value = '-';
        document.getElementById("working_locations").style.display = 'none';
        document.getElementById("working_location").value = '-';
        document.getElementById("wfo_times").style.display = 'none';
        document.getElementById("wfo_time").value = '-';
        document.getElementById('conditions').style.display = 'block';
        if (document.getElementById("condition").value == "Sakit"){
          document.getElementById('sick_reasons').style.display = 'block';
        } else if (document.getElementById("condition").value == "Sehat"){
          document.getElementById('sick_reasons').style.display = 'none';
          document.getElementById('sick_reason').value = '-';
        }
    } else if(document.getElementById("attendance_status").value == "Cuti") {
        document.getElementById("selfassstatuss").style.display = 'none';
        document.getElementById("selfassstatus").value = '-';
        document.getElementById("working_locations").style.display = 'none';
        document.getElementById("working_location").value = '-';
        document.getElementById("wfo_times").style.display = 'none';
        document.getElementById("wfo_time").value = '-';
        document.getElementById('conditions').style.display = 'block';
        if (document.getElementById("condition").value == "Sakit"){
          document.getElementById('sick_reasons').style.display = 'block';
        } else if (document.getElementById("condition").value == "Sehat"){
          document.getElementById('sick_reasons').style.display = 'none';
          document.getElementById('sick_reason').value = '-';
        }
      }
    }

</script>
{% endblock %}


