{% extends 'attendance/base_add.html' %}

{% block title %}
HEI-ASYST
{% endblock %}

{% block content %}
<form action="/my-attend-list-edit/{{ data.id }}/" method="POST">
  {% csrf_token %}
    <div class="form-group">
      <label for="attendance_status">Status Kehadiran</label>
      <select class="form-control" id="attendance_status" name="attendance_status" required>
        <option name="attend">{{ data.attendance_status }}</option>
        <optgroup label="Pilihan">
        <option>-</option>
        <option>WFO</option>
        <option>WFH</option>
        <option>Izin</option>
        <option>Sakit</option>
      </select>
    </div>

    <div class="form-group">
      <label for="selfassstatus">Hasil Selfass</label>
      <select class="form-control" id="selfassstatus" name="selfassstatus" required>
        <option name="attend">{{ data.selfassstatus }}</option>
        <optgroup label="Pilihan">
        <option>-</option>
        <option>Resiko Kecil</option>
        <option>Resiko Sedang</option>
        <option>Resiko Besar</option>
      </select>
    </div>

    <div class="form-group" id="reasonAttend">
      <label for="working_location">Lokasi WFO</label>
      <select class="form-control" id="working_location" name="working_location" required>
        <option name="attend">{{ data.working_location }}</option>
        <optgroup label="Pilihan">
        <option>-</option>
        <option>Wisma Asia</option>
        <option>Menara BCA</option>
        <option>Gading Serpong</option>
        <option>BLI</option>
      </select>
    </div>
    
    <div class="form-group" id="wfoStatus">
      <label for="wfo_time">Waktu WFO</label>
      <select class="form-control" id="wfo_time" name="wfo_time" required>
        <option name="attend">{{ data.wfo_time }}</option>
        <optgroup label="Pilihan">
        <option>-</option>
        <option>07.30 - 16.30</option>
        <option>08.30 - 17.30</option>
        <option>09.30 - 18.30</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="name">Kesehatan</label>
      <select class="form-control" id="condition" name="condition" required>
        <option name="attend">{{ data.condition }}</option>
        <optgroup label="Pilihan">
        <option>-</option>
        <option>Sehat</option>
        <option>Sakit</option>
      </select>
    </div>

    <div class="form-group" id="otherAttend">
      <label for="sick_reason">Alasan Sakit</label>
      <input type="form" class="form-control" id="sick_reason" value="{{ data.sick_reason }}"  name="sick_reason" required>
    </div>

  <button id="addButtons" type="submit" class="btn btn-primary btn-block btn-lg">Simpan</button>
  <div style="height: 20px;"></div>
</form>

{% endblock %}
