{% extends 'account/base.html' %}

{% block title %}
REGISTRASI HEI-ASYST
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-primary">REGISTRASI</h5>
            <hr>
            <form method="POST" action="/register/">
                {% csrf_token %}
                {{ profile_form.full_name|as_crispy_field }}
                {{ form.username|as_crispy_field }}
                {{ form.password1|as_crispy_field }}
                {{ form.password2|as_crispy_field }}
                <div class="text-account">
                    Kembali ke halaman <a href="/login/"><b>masuk</b></a> 
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg" style="margin-top: 10px;">Registrasi</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
